.json-formatter-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.json-formatter-wrapper {
  height: clamp(400px, 80%, 1000px);
  width: clamp(500px, 80%, 1200px);
  position: relative;
  border: 0;
  border-radius: 4px;
  background-color: rgb(30, 30, 30);
}

.json-formatter-display {
  height: 100%;
  width: 100%;
  user-select: none;
  padding: 30px;
  font-size: 1.1rem;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 15px;
  padding: 0 10px;
  font-size: 38px;
  border: 0px;
  border-radius: 2px;
  color: #fc5b5a;
}